body {
    background-image: url('image/rup.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

table {
    border: 2px solid gray;
    padding: 30px;
    width: 400px;
    background-color: #aef676;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: gray;
}
